# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors (e.g., VSCode, PyCharm, etc.)
.vscode/
.idea/
*.swp
*.swo

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db

# Python egg files (used by setuptools)
*.egg
*.egg-info/
dist/
build/
eggs/

# Distribution / packaging
.Python
*.manifest
*.spec
*.tar.gz
*.whl

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Test and coverage reports
.coverage
.coverage.*
nosetests.xml
test-*.xml
*.cover
*.tox/
*.nox/
*.hypothesis/
*.pytest_cache/

# dotenv files
.env
.env.local
.env.*.local

# MyPy and other type checkers
.mypy_cache/
.dmypy.json
.dmypy.json.*/

# Pyre type checker
.pyre/

# Pycharm project specific files
.idea/

# VS Code project specific files
.vscode/

# JetBrains IDEs
.idea/

# VSCode workspace
*.code-workspace


ckpts/
vis/
results/
runs/
all_runs/
